<div id="middleBox" class="col-sm-11 col-offset-1 jumbotron">
	<center><h3>Menu</h3>	
	Pick from a option below
	</center>

	<div class="col-md-3"></div>
	<div class="col-md-6">
	
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>											
		<button type="button" class="btn btn-primary btn-block">Option Here</button
	</div>
	<div class="col-md-3"></div>
