<div id="middleBox" class="col-sm-11 col-offset-1 jumbotron">
	<h3>Menu</h3>
	<p>Pick from a option below</p>
	<div class="col-sm-6 col-offset-6 col-centered">
	
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>		
		<button type="button" class="btn btn-primary btn-block">Option Here</button>											
		<button type="button" class="btn btn-primary btn-block">Option Here</button
	</div>