<div id="middleBox" class="col-sm-12">
	<div>
	{{formPart}}
	<button ng-click="$window.alert('test');">Alert</button>
	<button ng-click="formPart = true">B</button>
	{{newPizzaId}}
	{{formData}}
	{{toppings_id | json}}

	<h3>New Pizza</h3>
	
	<section id="form1" ng-hide="formPart">
		<form role="form" ng-submit="newPizzaForm()">
			<div class="form-group">
		    	<label for="name">Pizza Name:</label>
		    	<input type="name" class="form-control" ng-model="name" required>
		  	</div> 
  			<div class="form-group">
    			<label for="desc">Pizza Description:</label>
  				<input type="name" class="form-control" ng-model="description"> 
 			 </div>
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>

	<section id="form2" ng-show="formPart" ng-if="formPart">
		<div ng-controller="toppingsCtrl"/>
		<div class="row" />
		<form role="form2" ng-submit="submitToppings()">				
	 			<div ng-repeat="topping in toppings | orderBy:'name'" ng-if="topping.name"> 
					<input type="checkbox" ng-model="toppings_id[topping.id]"  ng-true-value="{{topping.id}}" ng-false-value="{{null}}"> <label>{{ topping.id }} {{ topping.name }}</label> </input>

	  			</div>
  			
	  		<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>
</div>
</div>
